header {
    height: 150px;
    padding: 20px;
    background-color: rgb(5, 7, 4);
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
}
header h1 {font-size: 70px; color: #726867; margin-top: 1px; margin-bottom: 0;}
header h2 {font-size: 30px; color: #726867;}

/* Corpo (HOME) */

main {
    background-image: url(./imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; height: 1300px; min-width: 300px; margin: auto;
 }
.começo {
    height: 700px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; text-align: center;
}
.começo h1 { color: antiquewhite; font-size: 80px; margin-bottom: 20px;}
.começo h3 { color: antiquewhite; font-size: 25px; margin-bottom: 15px; width: 800px;}

.grid {
    position: relative; bottom: 70px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.grid li {
     height: 200px;
     padding: 5px;
     border-radius: 5px;
     background-clip: content-box;
     background-size: cover;
     background-position: center;
}
.grid li.large {flex-basis: 50%;}
.grid li.small {flex-basis: 30%; align-items: center;}

.abas nav {
    display: flex; flex-direction: row;
    justify-content: space-around; align-items: center;
}
.abas a { color: antiquewhite; text-decoration: none; font-size: 25px;}
.abas h3:hover {color: rgb(155, 128, 11);}

/* FINAL */

footer {
    height: 70px;
    background-color: rgb(5, 7, 4); color: #726867;
    text-align: center;
    padding: 10px;
}
footer p {font-size: 20px; margin-top: 25px;}