/*INÍCIO*/

body h1, h2 {font-family:Georgia, 'Times New Roman', Times, serif;}
header {
    height: 150px;
    padding: 20px;
    background-color: rgb(5, 7, 4);
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
}
header h1 {font-size: 70px; color: #726867; margin-top: 1px; margin-bottom: 0;}
header h2{font-size: 30px; color: #726867;}

/*CORPO (CONSEQUÊNCIAS)*/

main {
    background-image: url(../imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; height: 1250px;
}

.detalhes02 {
    position: relative; top: 50px;
    height: 800px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; text-align: center;
}
.detalhes02 h1 { color: antiquewhite; font-size: 70px; margin-bottom: 20px;}
.detalhes02 h2 { color: antiquewhite; font-size: 25px; margin-bottom: 15px; margin-top: 5px; width: 900px;}

/*GRÁFICO*/

:root { --color_artificial: orange; --color_natural: green;}

.container_grafico {
    width: 500px; height: 350px;
    display: flex; justify-content: space-around;
    align-items: center;
    margin-left: auto; margin-right: auto;
}

.grafico {
    width: 250px; height: 250px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_artificial) 70%,
                                    var(--color_natural) 30% 70%);
}

.legenda_all {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.numero {
    color: antiquewhite; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 25px; border: 3px solid #726867; border-radius: 10%;
    background-color: #726867;
}
.detalhe { color: antiquewhite; text-align: center; font-size: 25px;}

/*FINAL*/

footer {
    height: 100px;
    background-color: rgb(5, 7, 4); color: #726867;
    text-align: center;
    padding: 10px; 
}
footer a {text-decoration: none; color: antiquewhite;}
footer a:hover { color: rgb(155, 128, 11);}
footer h2 {font-size: 25px;}
footer p {font-size: 20px; margin-top: 0px;}